---
// Import the necessary dependencies.
import AuthBtn from "../ui/buttons/AuthBtn.astro";
import ContactIconBlock from "../ui/blocks/ContactIconBlock.astro";
import TextInput from "../ui/forms/input/TextInput.astro";
import EmailContactInput from "../ui/forms/input/EmailContactInput.astro";
import PhoneInput from "../ui/forms/input/PhoneInput.astro";
import TextAreaInput from "../ui/forms/input/TextAreaInput.astro";
import Icon from "../ui/icons/Icon.astro";

// Define the variables that will be used in this component
const title: string = "Contact us";
const subTitle: string =
  "Have questions or want to discuss a project? Reach out, and let's craft the perfect solution with our tools and services.";
const formTitle: string = "Fill in the form below";
const formSubTitle: string = "We'll get back to you in 1-2 business days.";
---

<!-- Contact Us -->
<section id="Contact" class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    
    <div class="map-container">
      <img style="filter: brightness(0.5);" src="http://res.cloudinary.com/slzr/image/upload/v1500321012/world-map-1500_vvekl5.png">
      <div class="point venezuela tippy" title="Venezuela"></div>
      <div class="point brasil tippy" title="Brasil"></div>
      <div class="point argentina tippy" title="Argentina"></div>
      <div class="point colombia tippy" title="Colombia"></div>
      <div class="point panama tippy" title="Panamá"></div>
      <div class="point mexico tippy" title="Mexico"></div>
      <div class="point usa tippy" title="Estados Unidos"></div>
      <div class="point arabia tippy" title="Arabia Saudi"></div>
      <div class="point turquia tippy" title="Turquía"></div>     
      <div class="point rusia tippy" title="Rusia"></div>
      <div class="point china tippy" title="China"></div>
      <div class="point japon tippy" title="Japon"></div>
      <div class="point australia tippy" title="Australia"></div>
    </div>


  </div>
</section>


<style is:global>

.map-container {
  padding: 3.2rem 0.8rem;
  position: relative;
  display: inline-block;
}
.map-container img {
  width: 100%;
}
.map-container .point {
  cursor: pointer;
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #eab308;
  border-radius: 50%;
  transition: all 0.3s ease;
  will-change: transform, box-shadow;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 rgba(0, 0, 193, 0.4);
  animation: pulse 3s infinite;
}
.map-container .point:hover {
  animation: none;
  transform: translate(-50%, -50%) scale3D(1.35, 1.35, 1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.map-container .venezuela {
  top: 54%;
  left: 24%;
}
.map-container .brasil {
  top: 64%;
  left: 28%;
}
.map-container .argentina {
  top: 77%;
  left: 27%;
}
.map-container .colombia {
  top: 55%;
  left: 21%;
}
.map-container .panama {
  top: 51%;
  left: 18%;
}
.map-container .mexico {
  top: 38%;
  left: 12%;
}
.map-container .usa {
  top: 26%;
  left: 17%;
}
.map-container .arabia {
  top: 40%;
  left: 53%;
}
.map-container .turquia {
  top: 31%;
  left: 57%;
}
.map-container .rusia {
  top: 16%;
  left: 67%;
}
.map-container .china {
  top: 40%;
  left: 72%;
}
.map-container .japon {
  top: 34%;
  left: 86%;
}
.map-container .australia {
  top: 72%;
  left: 86%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 172, 193, 0.5);
  }
  70% {
    box-shadow: 0 0 0 25px rgba(0, 172, 193, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 172, 193, 0);
  }
}
</style>


<script is:inline>
  $(document).ready(function(){
    tippy('.tippy', {
      theme: 'light',
      size: 'big',
      arrow: true
    })
});
</script>
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script is:inline src="https://unpkg.com/tippy.js@1.1.3/dist/tippy.min.js"></script>